<h3>Enter a Url</h3>
<form action='/urls/parse_url' method="post">
	<input name="url" />
	<button>submit</button>

</form>

<ul>
	<% @urls.each do |url| %> 
	<li><%= url.url %></li>
	<% end %>
</ul>

